* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    font-size: 4rem;
    color: white;
}

.calender {
    height: 100vh;
    background: linear-gradient(0deg, rgba(4,252,255,1) 0%, rgba(45,101,253,1) 100%);
}

.card {
    padding: 10px;
    border-radius: 10px;
}